*{
    box-sizing: border-box;
    margin: 0px;
}



.desktop-menu li {
    list-style-type: none;
    cursor: pointer;
    
}

.desktop-menu ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

.nav-menu-movil div {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
    background-color: rgb(240, 75, 124);
    cursor: pointer;
    margin: 0px;
}

#hamburguesa{
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 600px) {
    .mobile-menu{
        display: block;
    }

    .desktop-menu{
        display: none;
    }    
}
